

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.left-side-collapse-button {
	float: left;
	border: none;
}

.logo {
	height: 1em;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #2A9FD8;
}











